.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
    color: white;
}


#main{
    margin-bottom: 30px;
}

#main label {
    flex-shrink: 0;
}

#main input {
    width: 100%;
}

