#main .nav {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border-color: 1px solid #d5d5d5;
    padding: .5rem;
}

#main .nav .logo {
    flex: 1;
    font-size: 1rem;
    margin: 0;
}

#main .search {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #f1f1f1;
    max-width: 480px;
    margin: 2rem auto;
    padding: .5rem;
}

#main label {
    flex-shrink: 0;
}

#main input {
    width: 100%;
}

#main .repositories {
    max-width: 480px;
    margin: 1rem auto;
}

#main .repositories .title {
    font-size: 1.3rem;
    text-align: center;
}

#main .repositories .list  {
    list-style: none;
    margin: 0;
    padding: 0;
}

#main .repositories .item {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border-bottom: 1px solid #d5d5d5;
    padding: .5rem;
}

#main .repositories .item:last-child {
    border-bottom: none;
}

#main .repositories .item .info {
    flex: 1;
}

#main .repositories .item .name {
    font-size: 1.5rem;
}